<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hextech.cdlpreptest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LevelCompletedActivity"></activity>
        <activity android:name=".LevelActivity" />
        <activity android:name=".StudyPlanActivity"></activity>
        <activity android:name=".QuestionStats"></activity>
        <activity android:name=".TestQuestionsActivity"
            android:label="Test Simulator"/>
        <activity android:name=".CustomizeTestActivity"
            android:label="Customize Test"/>
        <activity android:name=".CustomizeTestContentActivity"
            android:label="Customize Test - Content"/>
        <activity android:name=".TestResultsActivity"
            android:label="Test Results"/>
        <activity android:name=".ReviewTestResultsActivity"
            android:label="Review Test Results"/>
        <activity
            android:name=".NavigationTabActivity"
            android:label="@string/title_activity_navigation_tab"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReviewActivity"></activity>
        <activity android:name=".LearnActivity" />
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- add mob data -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <receiver android:name=".ReminderBroadcast"></receiver>
    </application>

</manifest>